.article-banner{
 color: black;
  text-align: center;
  min-height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-color:#FCFCFC;
  align-items: center;
  justify-content: center;
}

.banner-h1{
  margin-top: 20px;
  font-family: 'Raleway', sans-serif;
  font-size: 35px;
  margin-bottom: 60px;
}

.article-p{
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
}

.text-margin{
  margin-top: 35px;
}

.article-content{
  background: white;
  padding: 30px;
  margin-top: 100px;
  border-radius: 7px;
  border: 2px solid #e9edf0;
  margin-bottom: 30px;

}

em{
  margin-top: 20px;
}

.article-signature{
margin-top: 40px;
}

.article-signature > p {
  padding-top: -15px;
}
