/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
/*  Billboard  */
body{
     width:100%;
     height:100%;
     overflow-x: hidden;
 }

.billboard{
    width: 100%;
    height: 580px;
    /*background: url("../img/billboard.jpg") no-repeat center center;*/
    background: image-url('home_img_2.jpeg');
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    overflow: hidden;
}


.billboard h1{
    margin-top: 200px;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
    font-size: 40px;
    padding: 20px;
    margin-bottom: 2px;
    text-transform: uppercase;
}

.billboard p{
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
    font-size: 25px;
    padding: 20px;
    margin-bottom: 2px;
}

/*  Services/features  */
/*  General CSS*/

.icon-center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.list-bullet-circle{
  list-style-type: circle;
}

.features{
    width: 100%;
    height: auto;
    padding: 100px 0;
    background-color: #FAF5F5;
    padding-left: 25px;
    padding-right: 25px;
}

.features .row{
    margin-bottom: 100px;
    overflow: hidden;
}

.features .row:last-child{
    margin-bottom: 0;
}

.features .row .feature:last-child{
    margin-right: 0;
}



.feature .ficon{
    display: block;
    width: 65px;
    float: left;
    margin-right: 40px;
}

.feature .details_exp{
    display: block;
    float: left;
}

.feature h3{
    margin-bottom: 50px;
    color: #333333;
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    letter-spacing: 4px;

}

.feature p{
    margin-bottom: 20px;
    color: #515052;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height: 22px;

}

.feature a{
    color: #848484;
    font-family: "lato_regular", arial;
    font-size: 15px;
    text-decoration: none;
    letter-spacing: .5px;
}

.feature a:hover{
    color: #353434;
    font-size: 14px;
}

.feature a span{
    font-family: arial;
    margin-left: 10px;
}

.testimonials {
  width: 100%;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.testimonials h3{
  margin-bottom: 50px;
  color: #333333;
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
  letter-spacing: 4px;
}

.testimonials p {
   margin-bottom: 20px;
    color: #515052;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height: 35px;
}

#map {
        display: flex;
        height: 50vh;
        width: 100%;
        background-size: cover !important;
      }


.nopadding {
   padding: 0 !important;
   margin: 0 !important;
   width: 100% !important;
}

.contact {
  background-color: #FAF5F5;
  height: 50vh;
  width: 100%;
  padding-top: 22px;
}

#contact-title {
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    padding-bottom: 27px;
    letter-spacing: 4px;
}

.contact p {
    color: #51505;
    padding-top: 10px;
    font-family: 'Raleway', sans-serif;
    padding-left: 40px;
    font-size: 18px;
    line-height: 22px;
}

.contact-padding{
  padding-right: 0px;
  padding-left: 0px;
}

.contact-padding > p{
  margin-top: 30px;
}


