<div class="article-banner">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="article-content">
          <h1 class="text-center banner-h1">
            JEUX LYCEENS
          </h1>
          <p class="text-justify article-p">
          Ce matin, je rencontre une mère « éplorée », Madame B .,  venue sans rendez-vous dès 8 heures au lycée. Elle tient à me parler de sa fille Anissa pour qui elle s’inquiète énormément me confie-t-elle. Pendant les vacances, elle a remarqué son mal-être et l’a interrogée. En pleurant beaucoup, Anissa lui avoue « avoir fait une grosse bêtise ».  En insistant encore, Madame B. apprend qu’Anissa a connu un garçon au lycée qui lui a donné rendez-vous chez lui :
          </p>
          <div class="text-margin"></div>
          <p class="text-justify article-p">
          - Et ta virginité, tu l’as encore ? C’est très important pour te marier plus tard.
          </p>
          <div class="text-margin"></div>
          <p class="text-justify article-p">Anissa lui assure que oui. Ils ont fait des « trucs » dit-elle à sa mère ne remettant pas en cause sa virginité. La mère veut savoir et Anissa lui parle de fellation. Madame B. m’explique qu’elle n’en est pas restée là ; elle est partie avec sa fille au Maroc pour qu’un  médecin l’examine et lui certifie que sa fille est bien vierge. Le père, en affaires au Maroc n’est pas mis au courant. Il est du Rif, me dit la mère, d’une famille traditionnaliste. « Il la tuerait… » Affirme-t-elle.
          </p>
          <div class="text-margin"></div>
          <p class="text-justify article-p">De retour en France, Madame B. s’est rendue à la police pour porter plainte. Les policiers ont entendu Anissa qui a dit être consentante mais la mère doute, veut que je rencontre sa fille et le garçon. Je l’assure que je le ferais dans le but de ramener un peu de sérénité dans la situation mais je rappelle à la mère que cette histoire adolescente n’aurait peut être jamais due être connue que des jeunes eux-mêmes, que leur sexualité ne nous regarde pas et qu’Anissa a subi une grande violence : une intrusion de la police dans sa vie privée et celle d’un médecin dans son intimité. Je tais la violence de la mère. Elle m’explique : « cela se fait au Maroc ».
          </p>
          <div class="text-margin"></div>
          <p class="text-justify article-p">Je vois Anissa, jeune fille de 17 ans, sombre, quasi-mutique, répondant à peine à mes questions, risquant une esquisse de sourire lorsque je lui explique que personne n’aurait dû être au courant de cette histoire. Elle m’assure avoir été consentante mais ne m’en dit pas plus, se met à pleurer : « je ne veux pas qu’il ait d’histoires » répète-t-elle.  Je l’envoie à l’infirmerie après avoir demandé à l’infirmière d’accueillir son chagrin. Et je décide de recevoir William.
          </p>
          <div class="text-margin"></div>
          <p class="text-justify article-p">
            Je le connais depuis 6 ans (collège, lycée). C’est un garçon calme, agréable, plutôt châtain clair, les yeux bleus. Il me fait confiance : il a participé à plusieurs séances d’éducation à la sexualité que j’avais animées au collège et au lycée. Il ne sait pas pourquoi je veux lui parler. Je laisse échapper le prénom d’Anissa : « quoi, Anissa, c’est une vieille histoire, je suis sortie avec elle avant les vacances d’été !». Et nous sommes fin octobre. William poursuit : « Anissa et moi, on se chauffait en s’envoyant des SMS : « t’as déjà essayé ? T’as déjà fait des choses avec une fille, moi, non plus, si on essayait ! ». Anissa et William se donnent rendez-vous comme des grands pour « faire des trucs », essayer des choses. Quels trucs ? Le mot fellation vient péniblement.
          </p>
          <div class="text-margin"></div>
          <p class="article-p">« Vous ne l’avez pas forcé ? » lui demandai-je. William s’insurge :</p>
          <div class="text-margin"></div>
          <p class="article-p">« Pas du tout, on a bien rigolé après ! ».
          </p>
          <div class="text-margin"></div>
          <p class="text-justify article-p">William raconte le bon moment passé avec Anissa. C’est la première fois qu’il voyait Anissa aussi détendue, presque joyeuse.
          </p>
          <div class="text-margin"></div>
          <p class="article-p">« Je l’ai même dit à ma mère ! » dit William. « Elle m’a répondu : du moment que tu te protèges ! »
          </p>
          <div class="text-margin"></div>
          <p class="article-p">« Tiens, et vous êtes-vous protégé ? Il convient de mettre un préservatif, aussi pour une fellation ».
          </p>
         <div class="text-margin"></div>
          <p class="text-justify article-p">William gagne trois préservatifs que je lui tends pour bien ancrer la leçon de prévention.
          </p>
          <div class="text-margin"></div>
          <p class="text-justify article-p">Puis, nous parlons d’Anissa. Qu’a-t-elle pu ressentir elle ? A-t-elle eu du plaisir comme William. Il ne sait pas et dit soudain : « je n’aurai jamais demandé ça à ma vraie petite amie ! ».
          </p>
          <div class="text-margin"></div>
          <p class="text-justify article-p">Comment la considérez-vous aujourd’hui ? Comme une fille facile ?.
          </p>
          <div class="text-margin"></div>
          <p class="text-justify article-p">
          Non, comme une amie.
          </p>
          <div class="text-margin"></div>
          <p class="text-justify article-p">Je révèle à William ce qui est arrivé à Anissa, le médecin, la police. Il est bouleversé, sort de mon bureau en lançant : « je vais aller lui parler ».
          </p>
          <div class="text-margin"></div>
          <p class="text-justify article-p">Le surlendemain, Madame B. revient très excitée : « il y a un autre garçon » me dit-elle. « Il a des photos d’Anissa ».
          </p>
          <div class="text-margin"></div>
          <p class="text-justify article-p">Il s’agit d’Antony en 1ère, la même classe que William. Il m’avoue qu’il a demandé des photos à Anissa. Elle lui en a envoyé deux en soutien-gorge qu’il a fait circuler sur Snapchat, une application permettant de fixer une image pendant dix secondes avant qu’elle ne s’efface. Je mets Antony en garde sur la qualification pénale concernant la circulation d’images d’une personne sans son consentement. Il me jure qu’il n’a plus aucune image.
          </p>
          <div class="text-margin"></div>
          <p class="text-justify article-p">Curieux des « choses » du sexe, ces trois jeunes ont été amenés à visionner des films pornographiques. Peut-être que cela leur a permis de banaliser des scènes crues comme celle de la fellation débarrassée de l’émotion amoureuse qui demeure plus tabou que n’importe quelle scène sexuelle.  William et Anissa l’ont dit, « ils ont vécu une expérience, ils voulaient savoir ». Chez Anissa, les choses du sexe sont tabou, considérées comme « sales » ; la virginité garde toujours une grande valeur ; elle ressent une grande culpabilité. Quasi-mutique, elle laisse sa mère déverser ses aventures sur la place publique peut-être pour compenser le manque de reconnaissance du droit à une vie amoureuse et au manque de dialogue. Dans ce silence, ce manque de transmission, elle ne peut appréhender les limites à ne pas franchir, de ce qui se fait et ne se fait pas.
          </p>
          <div class="text-margin"></div>
            <div class="article-signature">
              <p class="text-left"><strong>Catherine LEBOULLENGER</strong></p>
              <p class="text-left"><strong>Lycée Louise Michel à Nanterre</strong></p>
              <p class="text-left"><strong>Formatrice en éducation à la sexualité</strong></p>
              <p class="text-left"><strong>Titulaire du DIU de sexualité humaine.</strong></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
