<div class="article-banner">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="article-content">
          <h1 class="text-center banner-h1">
            SEXUALITE ET IDEOLOGIE
          </h1>
          <p class="text-justify article-p">
           Nous intervenons aujourd’hui en classe de Terminale Mode qui ne compte que deux garçons. Ces derniers s’affichent résolument « gays » et e revendiquent.
          </p>
          <div class="text-margin"></div>
          <p class="text-justify article-p">
          « Mais moi, je suis homosexuel » disent-ils, dès qu’il est question de genre, c’est-à-dire de répondre à la question « Vous plaisez-vous dans cette classe à majorité de filles ? »
          </p>
          <div class="text-margin"></div>
          <p class="text-justify article-p">
          Les filles acceptent les garçons tels qu’ils sont, très tolérantes en somme. « Ce sont des garçons, ils décident de leur vie ». Si nous poussons le raisonnement, elles finissent par reconnaitre, « Ce n’est pas comme les filles ».  Elles semblent valider cet ordre du monde.
          </p>
          <div class="text-margin"></div>
          <p>
          En revanche, en ce qui concerne leur propre sexualité, elles sont intraitables, gardiennes de la tradition qu’elles n’imaginent pas pouvoir changer. Elles semblent convaincues qu’il faut arriver vierge au mariage, qu’une fille se doit de bien se tenir, c’est-à-dire de ne pas répondre aux sollicitations des garçons, en tout cas, ne pas être vue pour éviter de passer pour une « fille facile ».
          </p>
          <div class="text-margin"></div>
          <p class="text-justify article-p">
          « Et les garçons, demandai-je, doivent-ils être vierges, aussi ? ».
          </p>
          <div class="text-margin"></div>
          <p class="article-p">
          « Oui mais ce n’est pas obligatoire ! ».
          </p>
          <div class="text-margin"></div>
          <p class="article-p">
          De même, posséder sur soi, un préservatif ou une plaquette de pilules reste très mal perçu. Donc, quand on est fille, on se retient. Et surtout, si un « accident » survient, on ne pratique pas d’IVG.
          </p>
          <div class="text-margin"></div>
          <p class="article-p">
          « C’est un crime ! Elles n’ont qu’à faire attention » hurle Félicita.
          </p>
          <div class="text-margin"></div>
          <p class="article-p">
          A la prochaine séance, c’est décidé, nous travaillons sur le désir d’enfant à l’adolescence.
          </p>
          <div class="text-margin"></div>
          <p class="article-p">
          A partir du photo langage « Adolescence, amour et sexualité », j’ai demandé à chaque lycéen de choisir une photo représentant un désir d’enfant ou non. La photo la plus prisée est celle d’une jeune mère et de son bébé, peau contre peau. Félicita se pâme de plaisir « Qu’il est mignon » et les autres filles de surenchérir. Les garçons ont choisi la photo du jeune père, peau contre peau, avec un bébé. La photo antinomique au désir d’enfant, est celle d’une jeune fille, attablée à une table ronde, qui attend en fumant. Les filles font tout de suite le parallèle avec une prostituée. Cette dernière ne peut désirer un enfant et s’il lui arrive un « accident », elle fera pratiquer une IVG.
          </p>
          <div class="text-margin"></div>
          <p class="article-p">
          « Vous voyez bien que ce sont les prostituées qui avortent ! » lance Félicita.
          </p>
          <div class="text-margin"></div>
          <p class="article-p">
          Je renvoie la question au groupe :
          </p>
          <div class="text-margin"></div>
          <p class="article-p">
          « Pensez-vous que seules les prostituées pratiquent l’IVG ? »
          </p>
          <div class="text-margin"></div>
          <p class="article-p">
          De timides voix s’élèvent pour dire que peut-être non.
          </p>
          <div class="text-margin"></div>
          <p class="article-p">
          « Et les filles violées ? » lance Johanna.
          </p>
          <div class="text-margin"></div>
          <p class="article-p">
          La classe est partagée. Les deux garçons, Landry et Fares s’exclament :
          </p>
          <div class="text-margin"></div>
          <p class="article-p">
          « Evidemment que la fille doit avorter dans ce cas ! ».
          </p>
          <div class="text-margin"></div>
          <p class="article-p">
          Pour sortir des cas pathologiques et retourner à l’ordinaire de la vie, je demande aux garçons de réfléchir sur les conséquences de la venue d’un enfant à leur jeune âge.
          </p>
          <div class="text-margin"></div>
          <p class="article-p">
          « Nous sommes gays, répliquent-ils, ça ne risque pas d’arriver ! ».
          </p>
          <div class="text-margin"></div>
          <p class="article-p">
          Cela est un autre débat sur l’adoption, la PMA, etc… Je leur demande de faire preuve d’empathie et de se projeter dans la « peau » d’un garçon qui deviendrait père à 16 ans. Nous proposons plusieurs entrées pour développer la réflexion.
          </p>
          <div class="text-margin"></div>
          <p class="article-p">
          - Sur le plan physique et biologique : « un bébé, ça pleure la nuit, on est obligé de se lever », « on est fatigué pour aller en cours ». En amont, les filles évoquent la fatigue de la grossesse, la peur et la souffrance de l’accouchement, la peur de ne pas savoir s’y prendre…
          </p>
          <div class="text-margin"></div>
          <p class="article-p">
          - Sur le plan psychologique : « on n’a plus la tête au lycée », « on ne pense qu’au bébé », « je suis devenu vieux (vieille) », « tout le monde va me regarder ». Les filles évoquent la tristesse de quitter leur bébé pour aller au lycée… D’autres aimeraient continuer à aller s’amuser.
          </p>
          <div class="text-margin"></div>
          <p class="article-p">
          - Sur le plan de la relation intra familiale : « mon père va me tuer », « ma mère va me fiche dehors », « mes parents ne voudront jamais garder le bébé pour me laisser sortir », « ils peuvent pas continuer à me donner des ordres ! », « je pourrais pas aller habiter seul(e) ».
          </p>
          <div class="text-margin"></div>
          <p class="article-p">
          - Sur l’avenir scolaire et professionnel : ils sont unanimes, ils risquent d’abandonner leurs études au lycée. Ils connaissent tous le cas d’une camarade qui a abandonné. Je leur fais remarquer qu’il existe dans le lycée de jeunes mères de famille qui continuent mais qui sortent plus tôt pour aller chercher leur enfant à la crèche. Evidemment, tout est plus difficile, surtout si les parents ne les aident pas.
          </p>
          <div class="text-margin"></div>
          <p class="article-p">
          - Sur la relation affective avec le (la) partenaire, futur(e) mère (père) de l’enfant : « ils ne sont pas d’accord pour avoir un enfant, le père surtout n’en veut pas », « ils sont trop jeunes pour assumer », « ils risquent de rompre ».
          </p>
          <div class="text-margin"></div>
          <p class="article-p">
          A la fin de la séance, Félicita est venue me voir :
          </p>
          <div class="text-margin"></div>
          <p class="article-p">
          « Madame, vous avez raison, des fois, les filles, elles ne peuvent pas faire autrement »
          </p>
          <div class="text-margin"></div>
            <div class="article-signature">
              <p class="text-left"><strong>Catherine LEBOULLENGER</strong></p>
              <p class="text-left"><strong>Lycée Louise Michel à Nanterre</strong></p>
              <p class="text-left"><strong>Formatrice en éducation à la sexualité</strong></p>
              <p class="text-left"><strong>Titulaire du DIU de sexualité humaine.</strong></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
