<div class="article-banner">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="article-content">
          <h1 class="text-center banner-h1">
            PORNOGRAPHIE ET EROTISME
          </h1>
          <p class="text-justify article-p">
           Il arrive lors de nos séances d'éducation à la sexualité de  consacrer une séquence sur le thème de la pornographie d'autant que cette année, trois élèves de troisième ont eu l'idée de glisser des revues dans le cours des élèves de 6ème. Après enquête, nous avons demandé aux trois élèves en question de nous accompagner dans nos séances auprès des 6ème. Ils se sont acquittés volontiers de cette tâche d'autant que nous les avions valorisé en les nommant personnes « ressources ».
          </p>
          <div class="text-margin"></div>
          <p class="text-justify article-p">
          Ils ont entendu les arguments des « petits » : « ça fait peur », « j'ai été choqué ». L'un d'eux nous a confié : « on a dit à ma petite sœur en CE2 qu'elle embrassait le sexe des garçons ! Ma mère est allée voir la maîtresse qui a répondu qu'elle ne s'occupait pas de ces histoires-là ».D'autres ont renchéri : « c'est dégoûtant ! ». Les élèves ressources ont d'abord répondu comme la plupart des enfants pris à faire des bêtises « c'était pour rire ! ». Nous avons réveillé leur capacité d'empathie en leur demandant : « que fait-on lorsqu'on a volontairement ou involontairement blessé quelqu'un ? ». Ils ont fini par s'excuser d'assez bonne grâce.
          </p>
          <div class="text-margin"></div>
          <p class="text-justify article-p">
          Dans les classes de 3ème, nous avons divisé la classe en deux groupes, de façon à organiser un débat entre les participants afin de les faire réfléchir, argumenter et entendre différentes opinions. Un groupe représente les intéressés au marché pornographique (producteurs de films, acteurs, utilisateurs) et le deuxième ceux qui luttent contre : professionnels de santé, éducateurs, sexologues…
          </p>
          <div class="text-margin"></div>
          <p>
          Les thèmes dégagés par le premier groupe ont été les suivants : dans les films porno, les femmes ont toujours envie, les acteurs gagnent beaucoup d'argent, tous les hommes aiment ça, c'est un bon moyen pour apprendre, ça donne envie aux gens, les actrices le font parce-qu'elles aiment ça, le porno ce n'est qu'un film, rien n'est vrai…
          </p>
          <div class="text-margin"></div>
          <p class="text-justify article-p">
          Le deuxième groupe a avancé les arguments suivants : ça peut faire peur aux filles, ça peut faire peur aux garçons (problème de compétition), ça peut traumatiser les enfants, la pornographie sert à consommer du sexe, les garçons peuvent perdre leurs moyens, personne ne se protège dans les films porno.
          </p>
          <div class="text-margin"></div>
          <p class="article-p">
          Nous avons renvoyé les questions à chacun des groupes et chaque participant a pu donner son avis. Puis, nous avons tenté d'élaborer ensemble une définition du mot pornographie. Elle renvoie aux images de relations sexuelles purement génitales sans amour et sans fins procréatrices. Nous avons rappelé cependant que le propre de l'homme était de faire l'amour sans forcément relier l'acte sexuel à la procréation.  Il s'agit d'un accès à la sexualité sans intimité, sans résistance et sans séduction. Nous avons rebondi sur le mot séduction, fait circuler des magazines pour faire repérer aux élèves des images évoquant la séduction, des regards, des poses lascives, des femmes magnifiques posant pour une marque de lingerie. Certains garçons et filles ont affirmé que ces mannequins étaient des prostituées et dit la phrase « magique » : « ça ne se fait pas ». Mais tous ont admis que ces images jouaient avec leur désir, contrairement aux images pornographiques qui en montrant tout, épuisent le désir. Nous avons pu évoquer la différence entre la pornographie privilégiant l'étalage de chair et l'érotisme qui suggère au lieu de montrer permettant d'accéder au langage intérieur.
          </p>
          <div class="text-margin"></div>
          <p class="article-p">
            En d'autres termes, la pornographie reste la présentation d'une sexualité animale, crue et immédiate alors que l'érotisme n'a pas la volonté de choquer et appartient au domaine de l'art.
          </p>
          <div class="text-margin"></div>
            <div class="article-signature">
              <p class="text-left"><strong>Catherine LEBOULLENGER</strong></p>
              <p class="text-left"><strong>Lycée Louise Michel à Nanterre</strong></p>
              <p class="text-left"><strong>Formatrice en éducation à la sexualité</strong></p>
              <p class="text-left"><strong>Titulaire du DIU de sexualité humaine.</strong></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
