<div class="article-banner">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="article-content">
          <h1 class="text-center banner-h1">
            QUESTIONS LYCEENNES
          </h1>
          <p class="text-justify article-p">
            Au lycée, les questions ne sont pas toujours les mêmes qu’au collège même si certaines perdurent autour du sexe des garçons :
          </p>
          <div class="text-margin"></div>
          <p class="text-justify article-p">
            - La taille du sexe : est-elle « normale » ? Combien mesure un pénis ?
          </p>
          <div class="text-margin"></div>
          <p class="text-justify article-p">
            - Et si, le préservatif craque, que fait-on ?
          </p>
          <div class="text-margin"></div>
          <p class="text-justify article-p">
            - J’ai peur de faire mal à ma partenaire.
          </p>
          <div class="text-margin"></div>
          <p class="text-justify article-p">
            - Je ne vais pas trouver des préservatifs à ma taille
          </p>
          <div class="text-margin"></div>
          <p class="article-p">
            Toutes ces préoccupations permanentes prêteraient à sourire tant elles paraissent récurrentes et irréductibles.  Mais en éducation à la sexualité sourire ne suffit pas, il faut tenter de comprendre. Ne pas rire, ne pas déplorer, ne pas détester mais comprendre, disait Spinoza. Donc, accueillir les angoisses pour les apaiser dans la mesure du possible tout en sachant que l’angoisse de castration est l’une des plus « tenaces » et « des plus profondes » qui soient (Gérard Bonnet) mais que la sexualité génitale constitue le meilleur moyen pour en venir à bout.
          </p>
          <div class="text-margin"></div>
          <p class="article-p">
            La question du plaisir surgit d’ailleurs peu après l’angoisse de la taille du pénis. Cette année, c’est William, 16 ans, élève de 1ère qui la pose :</p>
          <div class="text-margin"></div>
          <p class="article-p">
           - Madame, qui a le plus de plaisir, l’homme ou la femme ?
          </p>
          <div class="text-margin"></div>
          <p class="text-justify article-p">Je raconte alors l’histoire de Tirésias rendu aveugle par Héra, l’épouse de Zeus, la déesse du mariage, pour avoir connu l’orgasme féminin après sa métamorphose en femme qu’il avait demandé au premier des dieux. Et pour souligner la différence, je dessine au tableau la courbe de Masters et Johnson et ses trois phases : excitation, plateau, orgasme. William a déjà entendu parler du plaisir au collège, il y a deux ans puisque j’avais assuré les séances et que pas une de mes séances n’en fait l’économie. Parler du plaisir me semble être la meilleure façon de juguler l’angoisse et de briser le tabou consistant à rendre la sexualité honteuse.
          </p>
          <div class="text-margin"></div>
          <p class="article-p">
          Mae pose la question de la douleur :
          </p>
          <div class="text-margin"></div>
          <p class="text-justify article-p">
          Madame, ça fait mal la première fois ?
          </p>
         <div class="text-margin"></div>
          <p class="text-justify article-p">
          Toutes les filles présentes répondent par l’affirmative. Antonia parle d’une vidéo sur YouTube où une jeune fille parle en précisant que la première fois, ça fait très mal ; elle évoque le sang qui coule entre ses jambes. Difficile de revenir sur les propos d’une youtubeuse qui s’improvise éducatrice en éducation sexuelle et visionnée par 1 million de personnes. Cela se tente tout de même et je dessine toutes sortes d’hymens au tableau, le laxe, le fermé, l’absent… J’affirme que la douleur n’est pas obligatoire, qu’elle peut être parfois proche du plaisir et que la première relation sexuelle peut bien se passer si la jeune fille est prête dans son corps et dans sa tête. A contrario, l’orgasme peut ne pas être au rendez-vous et se réserver pour un peu plus tard.
          </p>
          <div class="text-margin"></div>
          <p class="text-justify article-p">
          - Mais les garçons, ils aiment bien faire mal ! lance Yasmina.
          </p>
          <div class="text-margin"></div>
          <p class="text-justify article-p">
          Entre sadisme et masochisme. Les garçons restent ambivalents, entre le oui et le non. Les filles unanimes sont d’accord : « les garçons aiment bien faire mal ». Je suis bien obligée d’évoquer les pulsions, d’où viennent sadisme et masochisme, leur étymologie provenant de Donatien de Sade et Sacher Masoch, termes créés par Krafft Ebing, psychiatre allemand au XIXème siècle qui a travaillé sur les perversions. Je pense à Stoller :« Il n’y a pas de désir sans le désir de faire mal ». L’ambivalence semble mieux admise par les lycéens.
          </p>
          <div class="text-margin"></div>
          <p class="text-justify article-p">
          Il m’est venu à la lecture d’Havelock Ellis l’idée de questionner des lycéens ayant bénéficié de séances d’éducation sexuelle au collège prodiguées par mes soins d’après la trame suivante : qu’est-ce que ces séances leur ont apporté au niveau biologique, affectif et sociologique.
          </p>
          <div class="text-margin"></div>
          <p class="text-justify article-p">
           - Anzoumana ne voyait pas l’utilité de se protéger avec un préservatif. Il avait peur que ça craque. Ses copains le lui avaient dit. Il avait peur aussi que les filles « lui fassent un petit dans le dos ». Il reconnait avoir été dans la peur et la méfiance.
          </p>
          <div class="text-margin"></div>
          <p class="text-justify article-p">
          - Oussama n’a rien appris au niveau biologique. Ses frères lui avaient parlé du préservatif. Mais il se souvient qu’il faut être prêt avant de passer à l’acte. Au niveau de la loi, il a appris que la pédophilie était punie et que les personnes majeures n’avaient pas le droit de séduire des personnes mineures.
          </p>
          <div class="text-margin"></div>
          <p class="text-justify article-p">
          - Mel a appris qu’il fallait se protéger pour éviter les IST. Il a été rassuré sur la pratique de la masturbation et compris que les garçons pouvaient se retenir si une fille dit « non » au dernier moment, en pensant à autre chose. Il a trouvé les séances utiles car « on n’ose pas parler sexualité » avec des adultes, surtout ses parents.
          </p>
          <div class="text-margin"></div>
          <p class="text-justify article-p">Mae n’a eu aucune séance d’éducation à la sexualité au collège dit-elle. Elle se rappelle une intervention de l’infirmière venue leur parler de règles et de puberté mais aucune référence à l’adolescence. Elle aurait aimé avoir plus de connaissances sur la contraception et les IST. Elle a très peur de « la première fois » et ne se sent pas prête. Elle a peur des garçons qui ont une expérience sexuelle, elle craint d’avoir mal et de le décevoir. Elle n’ose pas en parler avec sa mère. Elle aurait aimé en parler en groupe avec un adulte pour les écouter.
          </p>
          <div class="text-margin"></div>
          <p class="text-justify article-p">Il semble que les lycéens ayant bénéficié de séances d’éducation sexuelle ont réussi à vaincre leur peur et leur méfiance. Au niveau social, ils ont tous fait preuve d’empathie en évoquant le consentement nécessaire de l’autre. Ce qui transparait à chaque fois est l’impossibilité pour eux d’en parler à leurs parents, soit parce que ces derniers considèrent le sujet tabou soit parce qu’il semble inenvisageable de part et d’autre d’imaginer des parents et des enfants avoir leur propre sexualité. La gêne ressentie de part et d’autre relève du domaine de l’incestuel. Comme le disait déjà Freud en 1907 dans une lettre à un médecin français, l’Ecole apparait la mieux placée pour aborder ces questions puisqu’elle le fait en toute neutralité.
          </p>
          <div class="text-margin"></div>
            <div class="article-signature">
              <p class="text-left"><strong>Catherine LEBOULLENGER</strong></p>
              <p class="text-left"><strong>Lycée Louise Michel à Nanterre</strong></p>
              <p class="text-left"><strong>Formatrice en éducation à la sexualité</strong></p>
              <p class="text-left"><strong>Titulaire du DIU de sexualité humaine.</strong></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
