<div class="footer">
<ul class='list-unstyled'>
  <li>
    <a href="#" class="">
    <i class="fa fa-facebook"></i>
  </li>
  <li>
    <a href="#" class="">
    <i class="fa fa-youtube"></i>
  </li>
</ul>
</div>
