<div class="article-banner">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="article-content">
          <h1 class="text-center banner-h1">
            Un extrait de mes articles
          </h1>
          <h2 class="banner-h2">
            HOMOBPHOBIE, DISCRIMINATION, HARCELEMENT
          </h2>
          <p class="text-justify">Cette année, j’interviens en lycée professionnel où les sections mode sont majoritaires. Mais il existe aussi des sections Vente et Commerce. Du fait de cette constellation, l’établissement semble clivé entre filles et garçons. Très peu de garçons en mode : deux par classe affichant une homosexualité  revendiquée dans leur posture, leur élégance vestimentaire, leurs paroles : « je sais que je suis gay depuis ma petite enfance ». Les filles, très féminines arborent  parfois des postures hautaines, juchées sur des talons aiguille, le jour de la tenue professionnelle obligatoire. Je ne peux m’empêcher de penser aux codes stéréotypés des milieux de mode.
          </p>
          <em></em>
          <p class="text-justify">En vente et commerce, c’est le contraire ! Une majorité de garçons adoptant une hypervirilité inscrite dans leur curriculum caché : un vendeur ou un commercial se doit d’affirmer sa masculinité. C’est dans les classes de seconde Commerce ou Vente que j’interviens, la professeure de Vente ayant saisi des bribes de propos homophobes dans une classe  dirigés contre les garçons jugés peu conformes au curriculum caché. Le garçon le plus visé s’appelle Julien âgé de 15 ans.
          </p>
          <em></em>
          <p class="text-justify">J’interviens donc une avant-veille de vacances un après-midi ensoleillé. Les élèves ont disposé leurs chaises en rond autour de moi. J’utilise, cette année, le livre d’Edouard Louis, En finir avec Eddy Bellegueule. Je lis le passage où il est question d’arrivée dans l’établissement, d’isolement, d’errance dans les couloirs près du CDI, d’insultes entendues par tout le monde ( pédale…) et l’agression verbale et physique qui s’ensuit, précurseur d’une longue série. Deux garçons, l’un roux, l’autre petit crachent sur Eddy :
          </p>
          <em></em>
          <p>« prends ça dans ta gueule ».</p>
          <em></em>
          <p class="text-justify">La proposition d’écriture est la suivante : imaginer la suite. C’est alors que je remarque Julien assis, justen face de moi, comme s’il attendait de moi une parole privilégiée. Il pourrait passer pour un élève sans histoire. Cependant, ces derniers temps, il vient de moins en moins régulièrement au lycée. Je lui en fais la remarque. Il a une seule réponse « j’habite loin ». quand il est présent, son comportement se dégrade. Il s’engouffre avec ses camarades les plus difficiles dans des attitudes gênantes en cours : bavardages, insolence, chahuts. Il passe d’une attitude conciliante à un comportement hostile envers les adultes comme si sa confiance en eux se délitait peu à peu. Cet après-midi, il est en face de moi à boire mes paroles. Les élèves lisent leurs textes. J’ai demandé la bienveillance de tous et je leur fais remarquer la diversité des points des points de vue. Certains parlent pour Eddy, d’autres au nom des agresseurs, d’autres encore pour les parents d’Eddy lorsque ce dernier rentre chez lui. Julien a décidé d’écrire à la première personne : «  A ce moment là, je me sens laid, comme un déchet, rejeté… puis, j’ai sent leurs coups alors que j’étais à terre, à genoux, sans aucune défense… ».
          </p>
          <em></em>
          <p>
            Les rires fusent. Daniel, au fond de la salle, ricane :
          </p>
          <em></em>
          <p>« tu parles bien de toi, hein Julien ? »</p>
          <em></em>
          <p>Et les autres de rire et d’acquiescer.
          </p>
          <em></em>
          <p class="text-justify">Je remercie tout le monde des beaux textes écrits et nous définissons ensemble le terme de harcèlement. A la question, que peut-on faire pour un camarade dont on sait qu’il est harcelé ? il y a plusieurs réponses : « on lui dit qu’on va l’aider », « on va voir les agresseurs pour leur dire d’arrêter », « on le raccompagne chez lui… ». </p>
          <em></em>
          <p>Quelle est la première parole à lui dire ? demandai-je à la classe. </p>
          <em></em>
          <p class="text-justify">Les réponses restent approximatives. Je regarde fixement Julien pour lui dire : « ce n’est pas normal ce que l’on te fait ». A l’aide d’une abaque de Régnier, nous travaillons les idées reçues sur les stéréotypes liés à l’orientation sexuelle et véhiculés par la société « deux hommes qui s’embrassent sont forcément homosexuels », « les garçons qui défendent les homosexuels, le sont forcément », « une lesbienne est un garçon manqué »… Pour évaluer s’ils ont bien compris les différentes notions d’identité, d’orientation, de rôles, de mythes dans le domaine de la sexualité, je leur donne un jeu d’étiquettes où ils doivent chercher ensemble les définitions correspondantes.
          </p>
          <em></em>
          <p class="text-justify">Le lendemain, Julien n’est pas revenu mais ses parents se sont présentés au lycée le lendemain. Julien leur avait révélé son mal être au lycée et sa souffrance quotidienne. Il subit quolibets, moqueries, coups. Des plus grands le suivent jusque chez lui pour le menacer.  Il est harcelé depuis que, lors d’une discussion avec ses camarades, il a affirmé que l’homosexualité ne lui posait pas de problème, que les homosexuels étaient des gens comme les autres. Les parents ont décidé de retirer leur fils de l’Etablissement, de lui en trouver un autre, équivalent, plus près de chez lui et de porter plainte. L’annonce qui en est faite ensuite dans la classe fait grand bruit. Chacun y va de son texto rassurant adressé à Julien et de ses protestations d’amour.
          </p>
          <em></em>
          <p class="text-justify">Je laisse au lecteur le soin de conclure lui-même sur la pertinence ou non des séances d’éducation à la sexualité en lycée.
          </p>
          <em></em>
          <p class="text-left"><strong>Catherine LEBOULLENGER</strong></p>
          <p class="text-left">Lycée Louise Michel à Nanterre</p>
          <p class="text-left">Formatrice en éducation à la sexualité</p>
          <p class="text-left">Titulaire du DIU de sexualité humaine.</p>
        </div>
      </div>
    </div>
  </div>
</div>
