<div class="article-banner">
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="text-center banner-h1">
        Un extrait de mes articles
      </h1>
      <h2>
        HOMOBPHOBIE, DISCRIMINATION, HARCELEMENT
      </h2>
      <p class="text-justify">Cette année, j’interviens en lycée professionnel où les sections mode sont majoritaires. Mais il existe aussi des sections Vente et Commerce. Du fait de cette constellation, l’établissement semble clivé entre filles et garçons. Très peu de garçons en mode : deux par classe affichant une homosexualité  revendiquée dans leur posture, leur élégance vestimentaire, leurs paroles : « je sais que je suis gay depuis ma petite enfance ». Les filles, très féminines arborent  parfois des postures hautaines, juchées sur des talons aiguille, le jour de la tenue professionnelle obligatoire. Je ne peux m’empêcher de penser aux codes stéréotypés des milieux de mode.
    </p>
    <em></em>
    <p class="text-justify">En vente et commerce, c’est le contraire ! Une majorité de garçons adoptant une hypervirilité inscrite dans leur curriculum caché : un vendeur ou un commercial se doit d’affirmer sa masculinité. C’est dans les classes de seconde Commerce ou Vente que j’interviens, la professeure de Vente ayant saisi des bribes de propos homophobes dans une classe  dirigés contre les garçons jugés peu conformes au curriculum caché. Le garçon le plus visé s’appelle Julien âgé de 15 ans.
    </p>
    </div>
  </div>
</div>
</div>
