<div class="article-banner">
  <div class="container">
    <div class="cards">
      <div class="row">
        <div class="col-xs-12">
          <div class="card" id="card1">
            <div class="card-category">Sexologie</div>
            <div class="card-description">
              <h2>Jeux Lycéens</h2>
              <p>theme ?</p>
            </div>
            <a class="card-link" href="articles/article1" ></a>
          </div>
        </div>
        <div class="col-xs-12">
          <div class="card" id="card2">
            <div class="card-category">Sexologie</div>
            <div class="card-description">
              <h2>Questions lycéennes</h2>
              <p>theme</p>
            </div>
            <a class="card-link" href="articles/article2" ></a>
          </div>
        </div>
        <div class="col-xs-12">
          <div class="card" id="card3">
            <div class="card-category">Sexologie</div>
            <div class="card-description">
              <h2>Pornographie et érotisme</h2>
              <p>theme?</p>
            </div>
            <a class="card-link" href="articles/article3" ></a>
          </div>
        </div>
        <div class="col-xs-12">
          <div class="card" id="card4" >
            <div class="card-category">Sexualité</div>
            <div class="card-description">
              <h2>IVG et idéologie</h2>
              <p>theme?</p>
            </div>
            <a class="card-link" href="articles/article3" ></a>
          </div>
        </div>
        <div class="col-xs-12">
          <div class="card" id="card5">
            <div class="card-category">Sexualité</div>
            <div class="card-description">
              <h2>Homosexualité</h2>
              <p>theme?</p>
            </div>
            <a class="card-link" href="articles/article5" ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
