<section class="billboard">
      <div class="wrapper">
        <div class="text-center">
          <h1>Catherine Leboullenger sexologue</h1>
          <p>Consultante en thérapie conjugale et familiale</p>
        </div>
      </div>
</section><!--  End Billboard  -->

    <section class="features">
      <div class="container">
      <div class="row">
        <div class="wrapper">
          <div class="feature col-xs-12 col-sm-4">
            <div class="details_exp">
              <img class="icon-center" alt="key" src="/assets/key.svg" width="64" height="40" />
                <h3 class="text-center">SEXOLOGIE</h3>
              <ul class="text-left list-bullet-circle">
                <li>
                  <p >Troubles de l’érection</p>
                </li>
                <li>
                  <p>Troubles de l’éjaculation (éjaculation précoce, prématurée retardée).</p>
                </li>
                <li>
                  <p>Troubles du désir et de l’excitation chez l’homme et la femme.</p>
                </li>
                <li>
                  <p>Troubles du plaisir.</p>
                </li>
                <li>
                  <p>Troubles de l’identité sexuelle</p>
                </li>
                <li>
                  <p>Dyspareunies (douleurs au cours des relations sexuelles)</p>
                </li>
                <li>
                  <p>Vaginisme (difficultés ou impossibilité à la pénétration).</p>
                </li>
                <li>
                  <p>Addictions sexuelles.</p>
                </li>
              </ul>
            </div>
          </div>
          <div class="feature col-xs-12 col-sm-4">
            <div class="details_exp">
              <img class="icon-center" alt="key" src="/assets/cupid.svg" width="64" height="40" />
              <h3 class="text-center">EDUCATION A LA SEXUALITE</h3>
              <ul class="list-bullet-circle">
                <li>
                  <p>Formatrice auprès d’enfants et d’adolescents.</p>
                </li>
              </ul>
            </div>
          </div>
          <div class="feature col-xs-12 col-sm-4">
            <div class="details_exp">
              <img class="icon-center" alt="key" src="/assets/eternity.svg" width="64" height="40" />
              <h3 class="text-center">THERAPIE DE COUPLE</h3>
              <ul class="list-bullet-circle">
                <li>
                  <p>Apporter aux couples la distance nécessaire quant à l’analyse de leurs problèmes.</p>
                </li>
                <li>
                  <p>Les amener à être acteurs de leur changement ou pas.</p>
                </li>
                <li>
                <p>Analyser leur demande.</p></li>
                <li><p>Comprendre les origines de leur choix respectif.</p></li>
                <li><p>Apprendre à comprendre ce qui est en jeu dans leur relation</li>
                <li><p>Comprendre la place des enfants.</p></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      </div>
    </section><!--  End Features  -->

<section class="testimonials">
  <div class="container">
    <h3 class="text-center">CATHERINE LEBOULLENGER</h3>
    <p class="text-center">Je suis formatrice auprès d’adultes professionnels (médecins, infirmières, assistantes sociales, conseillères du planning familial) dans le cadre du DIU de sexologie à l’hôpital Bichat et au Rectorat de Versailles. Ainsi que formatrice auprès d’enfants et d’adolescents.
  </p>
</div>
</section><!--  End testimonials  -->


<div class="container nopadding">
  <div class="row">
    <div class="col-xs-12 col-sm-6 contact-padding">
      <div class="contact" id="me_contacter">
        <p class="text-center" id=contact-title>CONTACT</p>
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <p><strong>Adresse:</strong> 24, route de Carrières
              78400 Chatou</p>
              <p><strong>Téléphone:</strong> 0671903300</p>
              <p><strong>Email:</strong> leboullengercatherine@gmail.com</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 contact-padding">
      <div id="map"></div>

        <script type="text/javascript">

          var map;
          function initMap() {
            var myLatLng = {lat: 48.893707, lng: 2.157568};

            map = new google.maps.Map(document.getElementById('map'), {
              center: myLatLng,
              zoom: 12
            });

            var marker = new google.maps.Marker({
              position: myLatLng,
              map: map,
              title: 'Mon cabinet'
            });
          }

              </script>
              <script async defer
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDomKVjemIo4UvWmOw590WpDGqIh1j4PXs&callback=initMap">
        </script>
    </div>
  </div>
</div>


