<div class="article-banner">
  <div class="container">
    <div class="article-content">
      <h1 class="text-center banner-h1">
        Photo
      </h1>
      <%=image_tag("catherine.jpg", height: '440', width: '330')%>
    </div>
  </div>
</div>
