<div class="article-banner">
  <div class="container">
    <div class="article-content">
      <div class="row">
      <h1 class="text-center banner-h1">
        MES VIDEOS SUR LA SEXUALITE
      </h1>
        <div class="col-sm-6 col-xs-12 video-center">
          <iframe width="250" height="145" frameborder="0"
          src="https://www.youtube.com/embed/MLoCX_2bCc0">
          </iframe>
          <p class="video-p">La normalité</p>
        </div>
        <div class="col-sm-6 col-xs-12 ">
          <iframe width="250" height="145" frameborder="0"
          src="https://www.youtube.com/embed/wkIGr2xPuyw">
          </iframe>
          <p class="video-p">Durée d'un rapport sexuel</p>
        </div>
        <div class="col-sm-6 col-xs-12 ">
          <iframe width="250" height="145" frameborder="0"
          src="https://www.youtube.com/embed/BDN8p8bHEzg">
          </iframe>
          <p class="video-p">La permière fois</p>
        </div>
        <div class="col-sm-6 col-xs-12 ">
          <iframe width="250" height="145" frameborder="0"
          src="https://www.youtube.com/embed/R-V49kevNuE">
          </iframe>
          <p class="video-p">La masturbation</p>
        </div>
      </div>
    </div>
  </div>
</div>
